body{
  background-color: #999999;
  font-family: sans-serif;
  font-variant: small-caps;
}

h1{
  font-size: 3.0em;
  text-align: center;
  margin-bottom: 5px;
  /*border-bottom: 2px solid #669999; */
}
#pong{
  text-align: center;
  float: center;
  clear: both;
  padding: 0;
}
#pong canvas{
  border: 2px solid #CDCDCD;
}
#navBar{
  border-top: 2px solid #CDCDCD;
  border-bottom: 2px solid #CDCDCD;
  padding: 4px 0  4px 0;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}
#navBar li{
  display:inline;
  list-style: none;
  margin: 15px;
}
#navBar a{
  color: #000000;
}
h3 {
  text-align: center;
}
#footer{
  border-top: 2px solid #CDCDCD;
  border-bottom: 2px solid #CDCDCD;
  text-align: center;
  white-space: nowrap;
  margin-top: 20px;
  padding: 4px 0  4px 0;
  vertical-align: middle;
}
.table {
  margin-top: 20px; 
  font-size: 1.2em;
  width: 60%;
  /*background: #669999;*/
  color: #E6E6E6;
  border-collapse: collapse;
  text-align: center;
  border: 2px solid #CDCDCD;
}
.table th{
  border-left: none;
  border-right: none;
  border-top:none;
  font-size: 14px;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #6B6B6B;
  padding: 10px 8px;
  border-bottom: 2px solid #CDCDCD;
}
.table td{
  border-left: none;
  border-right: none;
  border-top:none;
  border-bottom: 1px solid #CDCDCD;
  color: #E6E6E6;
  background-color: #669999;
  padding: 6px 8px;
}
.table tbody tr:hover td{
  color: #FFFFFF;
}
.table a{
  text-decoration: none;
  color:white;
}
.table a:hover{
  text-decoration: underline; 
}
/* Scoreboard CSS */
#leftScore{
  float:left;
  font-size: 4em;
  color: white;
  clear:left;
}
#rightScore{
  float:right;
  font-size: 4em;
  color:white;
  clear:right;
}
#scoreBoard{
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right:10%;
}
.name{
  color:white;
  font-size: 3em;
}
#AI{
  float: left;
}
#player{
  float: right;
}
/*Profile Page*/
#profileName{
  font-size: 8em;
  font-variant: normal;
  color:#E6E6E6;
}